.ext-ie .kanban .rly-right .filterInfo {
    width: 25px;
}

.ext-ie .kanban .rly-right .artifact-type-chooser {
    width: 265px;
}

.cardboard .status-content > .status-field.RevisionHistory {
    line-height: 18px;
    cursor: default;
}

.column-settings .settings-grid {
    border: 1px solid #FFF;
}

.column-settings .settings-grid.rally-invalid-field {
    border: 1px solid #F00;
}

.row-settings .@{prefix}form-item-input-row .@{prefix}field-label-cell {
    vertical-align: top;
}

.rui-picker-right-action {
  display: inline;
  float: right;
  padding-right: 4px;
}

.kanban {
  overflow-y: hidden;
}

.print-page {
  .cardboard {
    // needs !important to override inline style
    height: auto !important; // So print view doesn't cut off the cards

    .fixed-header-card-board-body-container {
      & > table {
        position: absolute; // So that there isn't a page-break between the column headers and the actual columns
        width: calc(~"100% - 24px"); // correct alignment
      }
    }
  }
}
