.team-board-app .cardboard .column-container .column-header .team-board-iteration-section {
    border-top: 1px dotted #c6c6c6;
    padding: 5px;
}

.team-board-app .cardboard .column-container .column-header .team-board-iteration-section .rally-iteration-combobox {
    margin: auto;
}

.team-board-app .cardboard .column-container .column-header .team-board-iteration-section .wip-container {
    font-size: 14px;
    text-align: left;
}

.team-board-app .cardboard .column-container .column-header .wip-container .wip-item {
    margin-bottom: 2px;
    margin-top: 2px;
}

.team-board-app .rui-card .rui-card-content {
    overflow: visible;
}

.team-board-app .rui-card .rui-card-content .card-header {
    margin-bottom: 3px;
    margin-left: 2px;
}

.team-board-app .rui-card .rui-card-content .card-header td {
    vertical-align: middle;
}

.team-board-app .rui-card .rui-card-content .card-header .card-header-spacer {
    width: 8px;
}

.team-board-app .rui-card .rui-card-content .card-header .card-header-user-info .team-member-name {
    font-family: NotoSansBold, Helvetica, Arial;
    font-size: 15px;
    font-weight: normal;
}

.team-board-app .rui-card .rui-card-content .status-content {
    border-top: 1px dotted #CCC;
    display: none;
}

.team-board-app .rui-card:hover .rui-card-content .status-content,
.team-board-app .rui-card.team-board-associated-popover-shown .rui-card-content .status-content {
    display: block;
}

.team-board-app .rui-card .rui-card-content .associated-artifacts-icon {
    color: #888;
    font-size: 15px;
    position: relative;
    top: 4px;
}

.team-board-app .rui-card .rui-card-right-side {
    padding-top: 5px;
    width: 70px;
}

.team-board-app .rui-card.non-team-member-card {
    background-color: #e0e0e0;
}