.roadmap-board {
    height: 100%;
}

.roadmap-board .no-drag-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.roadmap-board .progress-bar-container .progress-bar-label {
    color: #262626;
    font-size: 12px;
    font-weight: bold;
}

.roadmap-board .progress-bar-percent-done {
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 5%;
}

.roadmap-board > .rui-gridboard {
    height: 100%;
    overflow-y: hidden;
}

.roadmap-board > .rui-gridboard > .rui-leftright {
    display: none;
}

.roadmap-board .no-timebox .columns tr td.blank-slate-column {
    width: 66%;
    text-align: center;
    vertical-align: top;
}

.roadmap-board .show-label {
    float: right;
    margin-top: 3px;
}

.roadmap-board .header {
    padding: 5px 5px 5px 10px;
}

.roadmap-board .header .add-new {
    float: left;
}

.roadmap-board .add-new label {
    padding-top: 0;
}

.roadmap-board .add-new .new {
    margin-left: 0;
}

.roadmap-board .manage-iterations {
    float: right;
    margin: 3px 10px 0 0;
}

.roadmap-board .type-checkbox {
    float: right;
    margin: 5px;
}

.roadmap-board .type-checkbox label {
    position: relative;
    top: 1px;
}

.roadmap-board .progress-bar-container.field-percentDone {
    margin: 0;
    display: inline-block;
}

.roadmap-board .backlog {
    border-right: none;
}

.roadmap-board .column-header .column-header-title .columnfilter {
    position: absolute;
    left: 10px;
    top: 11px;
}

.roadmap-board .planning-column {
    background-color: white;
}

.roadmap-board .planning-column .search {
    margin: 5px 30px 0 30px;
}

.roadmap-board .planning-column .search > div {
    overflow-x: hidden;
}

.roadmap-board .planning-column .search-button {
    background: transparent url('search-button.gif');
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    margin-top: 4px;
    cursor: pointer;
}

.roadmap-board .planning-column .columnTitle {
    font-size: 18px;
    font-weight: bold;
    color: #262626;
}

.roadmap-board .planning-column .columnTitle .fieldContainerView {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
    text-overflow: ellipsis;
}

.roadmap-board .planning-column .columnTitle input {
    font-size: 18px;
    font-weight: bold;
}

.roadmap-board .planning-column .columnTitle > table {
    margin: 0;
}

.roadmap-board .planning-column .columnTitle > table input {
    line-height: 20px;
}

.roadmap-board .column-headers {
    border-bottom: 1px dotted #C6C6C6;
}

.roadmap-board .planning-column .column-header {
    margin: 0 0 0 0;
    text-align: center;
}

.roadmap-board .planning-column .column-header .editableField {
    min-height: 20px;
}

.roadmap-board .planning-column .timeframeDates {
    font-family: NotoSans, Helvetica, Arial;
    font-size: 12px;
    color: #666666;
    border: 1px solid transparent;
}

.roadmap-board .planning-column .timeframeDates:hover {
   border-color: #D6D6D6;
}

.roadmap-board .planning-column .timeframeDatesContainer {
    margin: 0 auto 1px auto;
    width: 125px;
}

.roadmap-board .first-card-column {
    border-left: 1px solid #c0c0c0;
}

.roadmap-board .progress-bar-background {
    color: white;
    background-color: #424242;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 5px;
    height: 36px;
    position: relative;
}

.roadmap-board .progress-bar-background .no-capacity-label {
    font-family: ProximaNova,Helvetica,Arial;
}

.roadmap-board .progress-bar-background .x4-btn {
    position: absolute;
    right: 0;
    top: 5px;
}

.roadmap-board {
    overflow-y: hidden !important;
}

.roadmap-board table.column-container {
    width: 100%;
}

.roadmap-board .planning-column.current-timebox {
    background-color: #8f8f8f;
}

.roadmap-board .planning-column.current-timebox .columnContent {
    background-color: #c6c6c6;
    margin: 2px 2px 0 2px;
    border: none;
}

.roadmap-board .planning-column.current-timebox .column-header {
    background: #ffffff url('currentIterationColumnHeader.png') repeat-x bottom;
    margin: 2px 2px 0 2px;
}

.roadmap-board .column-container .fixed-header-card-board-header-container {
    border-bottom: 1px dotted #c0c0c0;
}

.roadmap-board .fixed-header-card-board-body-container > table {
    height: 100%;
}

.roadmap-board .theHeader .card-column {
    background-color: #FFF;
}

.roadmap-board .column-container .column-header {
    font-size: 10pt;
}

.roadmap-board .column-container .column-header .columnTpl {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.roadmap-board .column-container .column-header .editableField {
    padding: 0px;
}

.roadmap-board .column-container .column-header .editableField:hover {
    border: 1px solid #3197c6 !important;
}

.roadmap-board .column-container .column-header .editableField textarea {
    font-size: 9pt;
    color: #262626;
    padding: 0;
    border-width: 0;
    line-height: normal;
}

.yes-harmonized .roadmap-board .theme_container {
    font-family: NotoSans, Helvetica, Arial;
}

.roadmap-board .editableField .setTheme {
    color: #262626;
}

.roadmap-board .column-container .column-header .column-header-title {
    padding: 15px 8px 8px 8px;
    min-height: 82px;
}

.roadmap-board .column-container .planning-column {
    border-top: 1px solid transparent;
    border-right: 1px dotted #c0c0c0;
    vertical-align: top;
}

.roadmap-board .column-container .last-card-column {
    border-right: 1px solid #c0c0c0;
}

.roadmap-board .column-container td.card-column {
    border-top-style: none;
}

.roadmap-board .column {
    border-right: none;
}

.roadmap-board .field_container {
    float: left;
    width: 90%;
}

.roadmap-board .theme_container {
    text-align: left;
    font-weight: 300;
    font-size: 9pt;
    color: #a9a9a9;
    padding: 8px;
}

.roadmap-board .theme_container .fieldContainerView {
    white-space: pre-wrap;
    max-height: 205px;
    overflow: auto;
}

.roadmap-board a.themeButton {
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    z-index: 100;
}

.roadmap-board a.themeButtonCollapse {
    height: 25px;
    padding-right: 25px;
    margin-right: -9px;
    background-position: center;
    background-image: url('smChev_up.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .roadmap-board a.themeButtonCollapse {
        background-image: url('smChev_up@2x.png');
        background-size: 12px 8px;
    }
}

.roadmap-board a.themeButtonCollapse:hover {
    background-image: url('smChev_up_over.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .roadmap-board a.themeButtonCollapse:hover {
        background-image: url('smChev_up_over@2x.png');
        background-size: 12px 8px;
    }
}

.roadmap-board a.themeButtonExpand {
    position: absolute;
    bottom: -12px;
    right: 0px;
    background-color: #424242;
    height: 12px;
    width: 30px;
    background-position: 9px 2px;
    border-radius: 0 0 0 5px;
    background-image: url('smChev_down.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .roadmap-board a.themeButtonExpand {
        background-image: url('smChev_down@2x.png');
        background-size: 12px 8px;
    }
}

.roadmap-board a.themeButtonExpand:hover {
    background-image: url('smChev_down_over.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .roadmap-board a.themeButtonExpand:hover {
        background-image: url('smChev_down_over@2x.png');
        background-size: 12px 8px;
    }
}

.roadmap-board .no-drag-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.roadmap-planning-popover .x4-panel-body {
    color: white;
}

.roadmap-planning-popover .month-triangles {
    background-image: none;
    color: #424242 !important;
    font-size: 48px;
    line-height: 23px;
    margin-bottom: 3px;
    margin-top: -1px;
    padding: 0px;
}

.roadmap-planning-popover .month-selection-common-attrs {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 28px;
    height: 28px;
    border-bottom: 1px solid #c0c0c0;
    background-color: #e6e6e6;
}

.roadmap-planning-popover .dateField .x4-trigger-cell {
    height: 30px;
    background-color: #ffffff;
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.roadmap-planning-popover .dateField .icon-calendar {
    color: #888888;
    font-size: 18px;
}

.roadmap-planning-popover .dateField.triggerSelected .icon-calendar,
.roadmap-planning-popover .dateField:hover .icon-calendar {
    color: #00A9E0;
}

.roadmap-planning-popover .dateField .icon-calendar:before {
    position: relative;
    top: 3px;
}

.roadmap-planning-popover .dateField:hover input,
.roadmap-planning-popover .dateField.triggerSelected input {
    border-color: #00A9E0;
    border-width: 1px;
    border-style: solid;
}

.roadmap-planning-popover .dateField:hover .x4-form-trigger,
.roadmap-planning-popover .dateField.triggerSelected .x4-form-trigger {
    border-color: #00A9E0;
}

.roadmap-planning-popover .dateField.transition-bg-color input,
.roadmap-planning-popover .dateField.transition-bg-color .x4-form-trigger {
    transition: background-color 2s;
}

.roadmap-planning-popover .dateField.dateSelected input,
.roadmap-planning-popover .dateField.dateSelected .x4-form-trigger {
    background-color: #cadda3;
    transition: background-color 0s;
}

.roadmap-planning-popover .dateField .x4-form-trigger-wrap .x4-form-field {
    width: 70px;
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.roadmap-planning-popover .dateField .x4-form-trigger {
    height: 30px;
    width: 26px;
    border-left: none;
    border-radius: 0 3px 3px 0;
    background-position: 2px 8.5px;
    background-image: none;
    display: block;
}

.roadmap-planning-popover .x4-datepicker-month .x4-btn-split-right {
    background-image: none !important;
}

.roadmap-planning-popover .x4-datepicker {
    width: 222px !important;
    font-size: 12px;
    font-weight: 300;
    font-color: black !important;
    font-family: san-serif;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-month .x4-btn {
    padding: 3px 0 5px 0;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-month .x4-btn * {
    padding: 0 !important;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-month .x4-btn,
.roadmap-planning-popover .x4-datepicker .x4-datepicker-month .x4-btn * {
    cursor: default !important;
}


.roadmap-planning-popover .x4-datepicker .x4-datepicker-month .x4-btn-center {
    overflow: visible;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-month .x4-btn-center .x4-btn-inner {
    font-weight: 600;
    font-size: 12px;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-header {
    background-color: #c0c0c0;
    padding: 0;
    height: auto;
    width: auto;
    font-size: 11px;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-header .x4-datepicker-prev,
.roadmap-planning-popover .x4-datepicker .x4-datepicker-header .x4-datepicker-next {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 28px;
    height: 28px;
    padding-top: 0;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-header .x4-datepicker-prev {
    left: 0;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-header .x4-datepicker-next {
    right: 0;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-header .x4-datepicker-prev a,
.roadmap-planning-popover .x4-datepicker .x4-datepicker-header .x4-datepicker-next a {
    background-image: none;
    color: #e0e0e0;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-header .x4-datepicker-prev .icon-chevron-left,
.roadmap-planning-popover .x4-datepicker .x4-datepicker-header .x4-datepicker-next .icon-chevron-right {
    background-image: none;
    font-size: 22px;
    padding: 0 2px
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-header .x4-datepicker-prev .icon-chevron-left:hover,
.roadmap-planning-popover .x4-datepicker .x4-datepicker-header .x4-datepicker-next .icon-chevron-right:hover {
    background-color: transparent;
    color: #666666 !important;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner td {
    border: 0;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr:last-child td {
    padding-bottom: 5px;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr td.x4-datepicker-disabled a {
    background-color: #929292;
    border-color: #929292;
    color: #eeeeee !important;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr td.rally-datepicker-in-range a {
    background-color: #CCEEF9;
    border-color: #CCEEF9;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr td.rally-datepicker-current-value a {
    background-color: #35B2E4;
    border-color: #35B2E4;
    color: #ffffff !important;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr td.rally-datepicker-highlighted-value a {
    border-color: #35B2E4;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr td a.x4-datepicker-date:hover {
    background-color: #d6d6d6;
    border-color: #d6d6d6;
    color: #ffffff !important;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr td.x4-datepicker-disabled a span,
.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr td.x4-datepicker-active a span,
.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr td.x4-datepicker-prevday a span {
    font-size: 10px;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr td.x4-datepicker-prevday a span {
    color: #d6d6d6;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner tbody tr td .x4-datepicker-date {
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border: 1px solid white;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner .x4-datepicker-today a span {
    font-weight: bolder;
    color: black;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner a {
    font-size: 11px;
    color: black !important;
    text-align: center;
    padding: 4px;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner th {
    background-color: #e6e6e6;
    color: black;
    padding: 4px 0px;
    border-bottom-color: #d6d6d6;
    text-align: center;
    width: auto;
}

.roadmap-planning-popover .x4-datepicker table.x4-datepicker-inner th span {
    font-size: 11px;
    padding-right: 0;
}

.roadmap-planning-popover .x4-datepicker .x4-btn-default-small-over {
    background-color: #ffffff;
}

.roadmap-planning-popover .x4-datepicker .x4-btn-default-small .x4-btn-inner {
    font-weight: 300;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-footer {
    border-top: 1px solid #d6d6d6;
    background-color: #ffffff;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-footer .x4-btn {
    float: none;
    width: 210px;
    margin: 3px 5px;
    padding: 0;
}

.roadmap-planning-popover .x4-datepicker .x4-datepicker-footer .x4-monthpicker-buttons .x4-btn {
    background-color: #35B2E4;
    border: transparent;
    color: #ffffff;
}

.roadmap-planning-popover .x4-datepicker .x4-monthpicker .x4-monthpicker-item {
    text-align: center;
}

.roadmap-planning-popover .x4-datepicker .x4-monthpicker a {
    font-weight: 300;
    font-size: 11px;
    color: black !important;
}

.roadmap-planning-popover .x4-datepicker .x4-monthpicker a:hover {
    background-color: #35B2E4;
    border: none;
    color: #ffffff !important;
}

.roadmap-planning-popover .x4-datepicker .x4-monthpicker .x4-monthpicker-selected {
    background-color: #ffffff;
    font-weight: 700;
    color: black;
    border: none;
}

.roadmap-planning-popover .x4-ie .dateField .icon-calendar {
    line-height: 15px;
}

.roadmap-planning-popover .x4-ie .x4-datepicker .x4-datepicker-header .x4-datepicker-prev .icon-chevron-left {
    line-height: 1px;
}

.roadmap-planning-popover .x4-ie .x4-datepicker .x4-datepicker-header .x4-datepicker-next .icon-chevron-right {
    line-height: 1px;
}

.roadmap-planning-popover .x4-ie .x4-datepicker .x4-datepicker-month .en-triangle-down {
    line-height: 1px;
}

.roadmap-board .no-drag-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.roadmap-board .no-drag-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.roadmap-planning-popover td {
    vertical-align: middle;
}

.roadmap-planning-popover td.date-buttons {
    vertical-align: top;
    text-align: right;
}

.roadmap-planning-popover td.date-buttons .x4-btn.primary,
.roadmap-planning-popover td.date-buttons .x4-btn.secondary {
    float: none;
    margin: 0 0 0 4px;
}

.roadmap-planning-popover .popoverDateRangeText,
.roadmap-planning-popover .popover-label {
    font-family: ProximaNovaSemiBold, Helvetica, Arial;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 15px;
}

.roadmap-planning-popover .popoverDateRangeText {
    margin-top: 2px;
}

.roadmap-planning-popover .popover-label {
    text-align: center;
}

.roadmap-planning-popover .popoverToText {
    font-family: NotoSans, Helvetica, Arial;
    font-size: 12px;
    padding: 0 10px;
}

.roadmap-planning-popover .popoverDateText {
    text-transform: uppercase;
    font-family: NotoSans, Helvetica, Arial;
    font-size: 12px;
    padding: 10px 0;
}

.roadmap-planning-popover .x4-panel {
    border-color: transparent;
}

.roadmap-planning-popover.menu {
    font-weight: 300;
}

.roadmap-planning-popover a {
    color: #ffffff !important;
    margin: 2px;
    display: block;
    /*border-radius: 3px;*/
    font-size: 14px;
    padding: 4px 8px;
}

.roadmap-planning-popover a.active {
    background-color: #262626 !important;
}

.roadmap-planning-popover a:hover {
    background-color: #35b2e4;
}

.roadmap-planning-popover .x4-form-item-label {
    border-radius: 3px;
    display: block;
    font-family: NotoSans, Helvetica, Arial;
    font-size: 12px;
    font-weight: 300;
    margin: 2px;
}

.roadmap-planning-popover .x4-form-field {
    height: 30px;
    text-align: center;
    width: 37px;
}

.roadmap-planning-popover .dateField.x4-form-invalid input {
    border-color: #B81B10;
    border-width: 1px;
    border-style: solid;
}

.roadmap-planning-popover .dateField.x4-form-invalid .x4-form-trigger {
    border-color: #B81B10;
}

.roadmap-planning-popover .x4-form-error-msg {
    background-color: #B81B10;
    color: white;
    font-family: NotoSans, Helvetica, Arial;
    font-size: 10px;
    padding: 5px;
    width: 222px;
    margin: 5px 2px 0 1px;
}
.roadmap-planning-popover #capacity-validation-error li {
    font-family: NotoSans, Helvetica, Arial;
    font-size: 12px;
}

.roadmap-board a.themeButtonExpand:hover {
    background-image: url('smChev_down_over.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .roadmap-board a.themeButtonExpand:hover {
        background-image: url('smChev_down_over@2x.png');
        background-size: 12px 8px;
    }
}

.roadmap-service-unavailable-error div {
    background-image: none;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    background-color: #F66349;
    font-weight: normal;
}
